/* Desktop mode */
@media all and (min-width: 600px){
.author-block{
    position: relative;
    width: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
}
.nav-tog{
    display: none;
}
.ham{
    display: none;
}
.author-block .col-1{
    position: relative;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}
.author-block .col-1 img{
    width: inherit;
    object-fit: contain;
}
.author-block .col-2{
    padding: 10px 10px;
    margin: 2vw 2vw;
    position: relative;
    width: 96%;
    background-color: #f0eeeb;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}
.author-block .col-2 p{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.author-block .col-2 p .Name{
    font-size: 4vw;
    margin-left: auto;
    margin-right: auto;
}
.author-block .col-2 .role-title{
    font-size: 2.5vw;
    color: black;
    margin-left: -75%;

}
.author-block p .Email, .LinkedIn, .org, .status, .sch_status{
    font-size: 2vw;
    text-align: center;
    font-style: italic;
}

.author-block .col-2 ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
.author-block .col-2 ul li{
    font-size: 1.6vw;
    font-style: italic;
}
.author-block .col-2 table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.author-block .col-2 table tr th{
    width: 50vw;
    font-size: 2vw;
    border: 10px solid #ebde54;
    background-color: #ebde54;
}
.author-block .col-2 table tr td{
    width: 50vw;
    font-size: 1.8vw;
    text-align: center;
}   
.author-block .col-2 table tr:nth-child(even){
    border: 10px solid #fff;
    background-color: #fff;
}
.author-block .col-2 table tr:nth-child(odd){
    border: 10px solid rgb(207, 199, 199);
    background-color: rgb(207, 199, 199);
}
.author-block .col-2 table tr:hover{
    border: 10px solid rgb(148, 146, 146);
    background-color: rgb(148, 146, 146);
    transition: all 250ms;
}
footer{
    margin-top: 4vw;
    width: 100%;
    background-color: #fff;
    padding: 2vw;
}
footer p{
    text-align: center;
    font-size: 2vw;
}
}

/* Desktop mode */
@media all and (max-width: 600px){
    body{
        background-color: #15afed;
    }
    nav{
        display: flex;
        flex-direction: row;
        background-color: #fff!important;
        width: 100%;
    }
    nav .logo-brand{
        width: 25vw;
        margin-left: auto;
        margin-right: auto;
    }
    nav .logo-brand img{
        width: inherit;
        object-fit: cover;
    }
    nav .ham {
        margin-top: 5vw;
        font-size: 12vw;
        margin-right: 10vw;
    }
    nav .links{
        display: none;
    }
    .nav-tog{
        width: 100vw;
        font-size: 8vw;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        margin-left: -110vw;
    }
    .nav-tog div{
        padding: 2vw;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-tog div:hover{
        background-color: rgba(0,0,0,0.6);
    }
}
